#Configure the Spring Actuator endpoints to require an authenticated user with the MANAGEMENT role
management:
  security:
    roles: MANAGEMENT

---
spring:
  profiles: local-development
  ds_queries:
    jdbcUrl: ${sbac.jdbc.host}/exam
    username: ${sbac.jdbc.user}
    password: ${sbac.jdbc.password}
    driver-class-name: 'com.mysql.jdbc.Driver'
  ds_commands:
    jdbcUrl: ${sbac.jdbc.host}/exam
    username: ${sbac.jdbc.user}
    password: ${sbac.jdbc.password}
    driver-class-name: 'com.mysql.jdbc.Driver'

#Logging
logging:
  level:
    tds.common.web: DEBUG

#Configure the default Spring Security user with the MANAGEMENT role
security:
  user:
    name: user
    password: password
    role: MANAGEMENT

server:
  port: 8081
  undertow:
    buffer-size: 16384
    buffers-per-region: 20
    io-threads: 64
    worker-threads: 512
    direct-buffers: true

flyway:
  enabled: true
  url: ${sbac.jdbc.host}/exam
  user: ${sbac.jdbc.user}
  password: ${sbac.jdbc.password}

#Ports defined in TDS_Build:docker-compose.yml
exam-service:
  session-url: http://localhost:32842
  student-url: http://localhost:32840
  assessment-url: http://localhost:32841
  config-url: http://localhost:32843

exam:
  scoring:
    engine:
      queueThreadCount: 20
      queueHiWaterMark: 500
      queueLowWaterMark: 400
      pythonScoringUrl: http://localhost:32845
      maxAttempts: 3
      sympyTimeoutMillis: 1000
    s3:
      bucketName: tds-resources
      prefix: item-content/local/
      accessKey: ${s3.key}
      secretKey: ${s3.secret}